
button{
  border: none;
  border-radius: 0%;
  background-color: #3f51b5;
}

/* Chat icon */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #3f51b5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  /* Chat container */

  