
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset">
        <form class="awesome-form" [formGroup]="form">
          <h2 class="text-center">Add Product</h2>
  
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Full Name" formControlName="name">
          </div>
  
          <div class="form-group">
            <input type="number" class="form-control" id="price" placeholder="price" formControlName="price">
          </div>
  
          <div class="form-group">
            <input type="number" class="form-control" id="quantity" placeholder="quantity" formControlName="quantity">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="img" placeholder="image" formControlName="image">
          </div>
  
          <div class="form-group">
            <textarea class="form-control" id="message" rows="3" placeholder="description" formControlName="description"></textarea>
          </div>
  
          <button type="button" class="btn btn-block btn-primary" (click)="onSubmit()">Submit</button>
        </form>
      </div>
    </div>
  </div>