<div class="wrapper" (click)="getItem(item)">
    <div class="product-img">
      <img src={{item.image}} height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{item.name}}</h1>
        <h2>{{item.inStock}}</h2>
        <p>{{item.description}}</p>
      </div>
      <div class="product-price-btn">
        <p><span>{{item.price|currency:'VND':'symbol':'3.0':'vi'}}</span></p>
        <button type="button" (click)="addToCart(item)">buy now</button>
        <button style="background-color: crimson;" type="button" (click)="deleteItem(item)">Delete</button>
      </div>
    </div>
</div>