<div class="wrapper">
    <div class="product-img">
      <img src="https://cdn.vietnambiz.vn/stores/news_dataimages/lyctl/052018/06/00/3830_towards_the_Next1600x810.jpg" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{item.name}}</h1>
        <h2>by studio and friends</h2>
        <p>{{item.description}}</p>
      </div>
      <div class="product-price-btn">
        <p><span>{{item.price | currency}}</span>VND</p>
        <button type="button" (click)="addToCart(item)">buy now</button>
      </div>
    </div>
  </div>